<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul>
        <li><a href="{% url 'nav' %}">Home</a></li>
        <li><a href="{% url 'django' %}">Django</a></li>
        <li><a href="{% url 'react' %}">React</a></li>
        <li><a href="{% url 'studetails' %}">Student Table</a></li>
        <li><a href="{% url 'showform' %}">Student Form</a></li>
        <li><a href="{% url 'showdata' 1%}">Student Details</a></li>
        <li><a href="{% url 'bsignup' %}">B_SignUp Form</a></li>
        <li><a href="{% url 'signup' %}">SignUp Form</a></li>
        <li><a href="{% url 'login' %}">Login Form</a></li>
        <li><a href="{% url 'sessions' %}">Sessions</a></li>
        <li><a href="{% url 'classview' %}">Class Based View</a></li>
        <li><a href="{% url 'genricform' %}">Genric Class based Form </a></li>
        <li><a href="{% url 'genricformsaved' %}">Genric Class based Form Saved in admin Pannel </a></li>



        










        

    </ul>
    {% block content %} {% endblock %}

    {% include 'nav.html' with p='PHP' %}
<hr/>
<button onclick="Btn()">click me</button>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>