<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for pagination in page_obj %}
       <p><span style="font-size: larger;">Title</span> :- {{pagination.title}}</p> 
       <p><span style="font-size: larger;">Description</span> :- {{pagination.desc}}</p> 
       <p><span style="font-size: larger;">publish Date</span>  :- {{pagination.publish_date}}</p> <hr>
    {% endfor %} 

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
               <span>{{page_obj.number}}</span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>