<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>profile Page</h1>
    <h3>Welcome {{name}}</h3>
    <h4>Your IP Address : {{ip}}</h4>

    {% if Users != None %}
    <h3>List of Users...</h3>
            {% for user in Users %}
            <a href="{% url 'userinfo' user.id %}">{{user.username}}</a> <br>
            {% endfor %}
        {% endif %}
        <hr>
    <form action="" method="post">
        {% csrf_token %}
        
        {% for fm in form %}        
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        
    </form>

    <a href="{% url 'logout' %}">Logout</a><br><br>
    <a href="{% url 'changepass' %}">Change Password</a><br><br>
    <a href="{% url 'editprofile' %}">Edit Profile</a>



</body>
</html>